@use 'variables' as vars;

.avatar__img-header{
    width: 130px;
    height:130px;
    border-radius: 50%;

@media(min-width:vars.$desktop){ 
    width: 130px;
    height:130px;
    border-radius: 50%;
    }
}

.avatar__img{
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;

    @media(min-width:vars.$desktop){
        width: 60px;
        height:60px;
        margin-right: 1rem;
        border-radius: 50%;

    }
}