@use 'variables' as vars;

.avatar__img{
    width: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem; 

    @media(min-width:vars.$desktop){
        width: 60px;
        height: 60px;
    }
}