.body__wrapper {
    @media (min-width: 1024px) {
        display: grid;
        // grid-template-columns: 230px 1fr;
        grid-template-columns: minmax(180px, 230px) 1fr;
        gap: 1.5rem;
        width: 100%;
        
        box-sizing: border-box;
    }
}
