@use 'variables' as vars;

.content__wrapper{ 
    @media (min-width: #{vars.$desktop}){ 
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    .left__column,
    .right__column{
        overflow: visible;
    }
}
