@use 'variables' as vars;

.creators{
    display: flex;
    flex-direction: column;
    color: var(--letters);
    gap: 1rem;
    margin-bottom: 1.5rem;

   @media(min-width:vars.$desktop){
      gap: 1.5rem;
      }

   &__list{
     list-style: none;
     margin: 0;
     padding: 0; 
   }
   &__item{
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

   @media(min-width:vars.$desktop){
      margin-bottom: 2rem;
      }
   }
   &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: auto;
   @media(min-width:vars.$desktop){
      flex: 1;
      margin-left:0;
      margin-right: 0.7rem;
      }
   }
   &__author{
      font-size: 1.3rem;
      font-weight: 500;
      margin: 0 0 0.3rem 15px;
      text-align: left; 
   @media(min-width:vars.$desktop){
      font-size: 1rem;
      }
   }
   &__episodes{
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin: 5px 0 0 0;
      color: var(--letters-secondary);

   @media(min-width:vars.$desktop){
      font-size: 0.90rem;
      }
   }
   &__button{
      border: none;
      font-size: 0.8rem;
      border-radius: 30px;
      padding: 0.60rem;
      cursor: pointer;
      color: var(--color-hover);
      background-color: var(--background-sidebar); 
      @media(min-width:vars.$desktop){
       font-size: 1rem;
       padding: 1rem 1rem;
      }
   }
}