@use 'variables' as vars;


.menu{
    @media(min-width:vars.$desktop) {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__checkbox{
        display: none;
    }
    &__content{
        position: absolute;
        top: 8%;
        right: 12%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10%);
        pointer-events: none;
        border:1px solid var(--letters-secondary);
        border-radius: 5px;
        background: var(--background-sidebar);
        transition: opacity 0.3s ease, transform 0.3s ease;

        @media(min-width:vars.$desktop){
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        pointer-events: auto;
        border: none;
        background: transparent;
        width: 100%;
        padding: 0;
       }
    }
    &__checkbox:checked ~ &__content{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
    }
    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--letters);

         @media(min-width:vars.$desktop)
     {
        display: none;
    }
    }
    &__title{
        font-size: 1rem;
        font-weight: 600;
        color: var(--letters-secondary);
        margin-bottom: 1rem;

    @media(min-width:vars.$desktop){
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 1rem;
        opacity: 1;
        transform: none;
        pointer-events: auto;
        position: static;

    @media(min-width:vars.$desktop){
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 1rem;
       }
    }
    &__list.active{
        display: flex;
    }
    .btn__close{
        display: block;
        text-align: right;
        font-size: 1.5rem;
        cursor: pointer;
        background: none;
        border: none;

    @media(min-width:vars.$desktop){
        display: none;
       }
    }
    &__item{
        transition: color 0.3s;
        border-bottom: none;
    }
    &__link{
        display: flex;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        color: var(--letters);
        transition: border-bottom 0.3s;
        margin-bottom: 0.50rem;
        gap: 0.60rem;

     @media(min-width:vars.$desktop) {
        display: flex;
        align-items: center;
        gap: 0.60rem;
        font-size: 1rem;
        transition: color 0.3s;
        margin-bottom: 1rem;
       }

        &:hover{
          color: var(--color-hover);
        }
    }
    &__symbol{
        margin-right: 0.5rem;

    }
    &__section{
        @media(min-width:vars.$desktop){ 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        }
    }

}