@use 'variables' as vars;

.plaing{
    display: flex;
    flex-direction: column;
    color: var(--letters);
    padding:20px;
    gap: 1rem;
    border: none;
    border-radius: 30px;
    margin: 0 10px;
    margin-bottom: 1rem;
    background-color: var(--background-sidebar);

    &__wrapper{
       display: flex;

       @media(min-width:vars.$desktop){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        }
    }
    &__img{
       padding: 20px;
       align-items: center;

       @media(min-width:vars.$desktop){
        flex-shrink: 0;
        width: 100%;
        margin: 0 auto;
        border-radius: 30px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        }
    }
    &__info{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-right: auto;

       @media(min-width:vars.$desktop){
        flex: 1; 
        min-width: 200px;
        }
    }
    &__title{
       font-size: 1.3rem;
       font-weight: 600;
       margin: 0 0 0.3rem 15px;
       text-align: left; 

       @media(min-width:vars.$desktop){
        white-space: normal;
        overflow: visible;   
        text-overflow: clip; 
        text-align: center;
        }
    }
    &__author{
       font-size: 1.3rem;
       margin: 0 0 0.5rem 15px;
       text-align: left;
       color: var(--letters-secondary); 

        @media(min-width:vars.$desktop){
          white-space: normal;
          overflow: visible;   
          text-overflow: clip; 
          text-align: center;
        }
    }
    &__equalizer{
       display: flex;
       flex-direction: column;
       width: 100%;
       gap: 0.5rem; 
    }
    .waveform{
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background: var(--background-sidebar);
        overflow: hidden;

        &:after{
            content: "";
            position: absolute;
            inset: 0;
            background:   repeating-linear-gradient(
              to right,
              var(--letters) 0 3px,
              transparent 3px 6px       
            ),
            linear-gradient(
              to top,
              var(--letters-secondary) 0%,
              transparent 60%
            );
        }
    }

    &__times{
       display: flex;
       justify-content: space-between;
       font-size: 0.85rem;
       margin-top: 0.4rem;
       color: var( --color-hover); 
    }
    &__time{
       font-size: 1.3rem;
       color: var(--letters);
    }
    &__icons{
       display: flex;
       justify-content: space-between;
       align-items: center;
       cursor: pointer;
    }
    &__icon{
       font-size: 1.5rem;

       &--pause{
        font-size: 3rem;
       }
       &--image{
        width: 35px;
        border: none;
        border-radius: 30px;
        background: var(--letters);
       }
    }
}