@use 'variables' as vars;

.search{
    padding: 10px;
    margin-bottom: 2.5rem;

    @media(min-width:vars.$desktop){
        padding:1.5rem 1rem 0 0;
        margin-bottom: 3rem;
     }

    &__title{
        color: var(--letters);
        font-size: 1.5rem;
        margin-bottom: 1rem;

    @media(min-width:vars.$desktop){
        font-size: 1.3rem;
        text-align: left;
        margin-bottom: 1.2rem;
        } 
    }
    &__wrapper{
        display: flex;
        padding: 0.60rem;
        border-radius: 30px;
        color: var(--letters);
        background-color: var(--background-sidebar);

    @media(min-width:vars.$desktop){
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.8rem 1rem;
        border-radius: 2rem;
        } 
    }
    &__input{
        border: none;
        padding: 10px;
        font-size: 1.1rem;
        align-items: center;
        background-color: var(--background-sidebar);

    @media(min-width:vars.$desktop){
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem 0.8rem;
        }
    }
    &__icon{
        padding: 10px;
        font-size: 1.2rem;

    @media(min-width:vars.$desktop){
        font-size: 1.5rem;
        margin-right: 0.5rem;
       }
    
       &:focus{
           outline: none;
           }
       }
}