@use 'variables' as vars;

.sidebar{ 
    @media(min-width: vars.$desktop){
      position: relative;
      width: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 30px;
      background-color: var(--background-sidebar);
      }
  
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin: 1rem 0.9rem;
    background-color: var(--background-sidebar);

    @media(min-width:vars.$desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
    }
  }
    &__data{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

    @media(min-width: vars.$desktop){
      margin-bottom: 1.5rem;
    }
    }
    &__user{
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--letters);
    }
    &__link{
      font-size: 1.3rem;
      font-weight: 500;
      text-decoration: none;
      color: var(--letters-secondary);
    }
}