@media(min-width:1024px){
    .content__wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        width: 100%;
        box-sizing: border-box;
    }
    .left__column,
    .right__column,
    .sidebar{
        max-width: 100%;
        overflow: visible;
    }
}