.section{
    display: flex;
    justify-content: space-between;
    color: var(--letters);
    padding: 0 10px;
    margin-bottom: 2rem;  
}
.section__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--letters);
}

@media(min-width:768px){
    .section{
        margin-left: 260px;
    }
}