:root{
    --background-color:#0D0D0D;
    --background-sidebar:#1C1C1C;
    --letters:#EAEAEA;
    --letters-secondary:#454545;
    --color-hover:#314FEB;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}