.title{
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 1rem;
    color: var(--letters);
}

@media(min-width:1024px){
    .left__column{
        padding-left: 16.25rem;
        padding-top: 1.5rem;
    }
    .title{
        font-size: 1.2rem;
        margin: 0 0 1rem 0;
        padding: 0;
    }
}